.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/2341e349-a6fc-4b04-a0ad-9b21defa1f88/IN-en-20220307-popsignuptwoweeks-perspective_alpha_website_medium.jpg") center no-repeat;
    background-size: cover;
}

.loginScreen_gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.loginScreen_logo {
    position: fixed;
    left: 0;
    width: 150px;
    padding-left: 20px;
    object-fit: contain;
}

.loginScreen_button {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.loginScreen_body>h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen_body>h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen_body>h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen_body {
    position: absolute;
    top: 28%;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    left: 0;
    right: 0;
}

.loginScreen_input>form>input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    max-width: 600px;
}

.loginScreen_GetstartedButton {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}